.paralaix {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    border-bottom: solid 1px rgb(0,0,0,0.5);
}

.parallax-image {
    display: block;
    height: 900px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*Background images*/

.parallax-image-01 {
    background-image: url("../../images/Images/3-amb-portada.jpg");
    border-top: solid 1px rgb(0,0,0, 0.5);
}

.parallax-image-02 {
    background-image: url("../../images/Images/2-amb-frente-portada.jpg");

}

.parallax-image-03 {
    background-image: url("../../images/Images/2-amb-contra-portada.jpg");
}

.parallax-image-04 {
    background-image: url("../../images/Images/Depto\ 2B.jpg");
}



.parallax-section {
    padding: 64px 64px 12px 64px;
    width: 100%;
    height: auto;
}

.parallax-section > span {
    font-size: 0.9rem;
}

.parallax-header {
    display: inline-flex;
    align-items: center;
}

.parallax-header > h2 {
    text-transform: uppercase;
    margin-bottom: 24px;
}

.parallax-header > .first {
    color: #f7f7f5;
    background-color: #232323;
    margin-left: 25em;
    padding: 0 10px;
    border: solid 1px #232323;
    text-align: center;
}

.parallax-header > .second {
    background-color: #f7f7f5;
    color: #232323;
    padding: 0 10px;
    border: solid 1px #232323;
    text-align: center;
}

/*Tablet and smaller desktop screens */

@media screen and (max-width: 1490px) {
    .unidades-list ul {
        padding: 0 2em;
    }
}

@media screen and (max-width: 1300px) {
    .unidades-list .actions.special li {
        margin: 0 1em;
    }
}

@media screen and (max-width: 1200px) {
    .unidades-list .actions.special {
        display: block;
        padding-left: 0;
    }
}

@media screen and (max-width:1015px) {
    .parallax-header > .first {
        margin-left: 18em;
    }
}

@media screen and (max-width: 950px) {
    .unidades-list {
        font-size: .9em;
    }

    .parallax-section span {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 810px) {
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 811px) {
    .mobile {
        display: none;
    }
}