.paralaix {
    display: grid;
    place-items: center;
}

.parallax-image {
    display: block;
    height: 940px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.parallax-image-01 {
    background-image: url("../../images/Images/3-amb-portada.jpg");
    border-top: solid 1px rgb(0,0,0, 0.5)
}

.parallax-image-02 {
    background-image: url("../../images/Images/2-amb-frente-portada.jpg");

}

.parallax-image-03 {
    background-image: url("../../images/Images/2-amb-contra-portada.jpg");
}

.parallax-image-04 {
    background-image: url("../../images/Images/Depto\ 2B.jpg");
}

.parallax-section {
    padding: 64px 64px 12px 64px;

}

.parallax-header {
    display: inline-flex;
}

.parallax-header > h2 {
    text-transform: uppercase;
    margin-bottom: 24px;
}

.parallax-header > h3 {
    color: #232323;
    margin-left: 25em;
    font-weight: normal;
    border: solid 1px #232323;
}

.parallax-header > h3 > span {
    background-color: #232323;
    color: #f7f7f5;
    padding: 0.3em 0.18em 0.6em 2.85em;
}

.parallax-section > span {
    font-size: 0.9rem;
}

@media screen and (max-width: 809px) {
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 810px) {
    .mobile {
        display: none;
    }
}